.carousel{
  width: 100%;
  background: url("../image/bg-image.png") no-repeat center center/cover #002e5b;
}
.container {
  width: 100%;
  padding: 20px 4%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  /* background-color: red; */
}
.nav__left {
  float: left;
}
.nav__right {
  float: right;
}
.country-icon {
  float: left;
  margin-right: 8px;
  width: 20px;
}
.desktop{
  display: none;
}
.desktop__nav-list {
  display: none;
}
.carousel__content {
  width: 100%;
  padding: 147px 0;
  float: left;
  position: relative;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.carousel__right {
  float: right;
}
.carousel__yellow-border {
  position: relative;
  width: 230px;
  float: right;
}
.yellow-img {
  max-width: 100%;
}
.carousel__yellow-text {
  text-align: right;
  color: white;
  font-size: 1.4em;
  width: 194px;
  position: absolute;
  top: 57px;
  left: -77px;
}
.carousel__yellow-text-link {
  position: absolute;
  top: 209px;
  right: 134px;
  width: 150px;
  font-weight: 600;
}

.carousel__left {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fde428;
}
.drop-icon{
  padding: 15px 0 11px;
}

/* FOR SECOND CONTENT */
.second__container {
  width: 100%;
}
.second__content {
  width: 100%;
  padding: 0px 4%;
  margin: 80px 0;
  /* background-color: wheat; */
}
.second__right {
  margin: 50px 0;
  /* display: none; */
}

/* FOR SECOND CONTENT */

/* THIRD CONTENT */
.third__container {
  width: 100%;
  margin: 20px 0px 10px 0px;
}
.third__content {
  width: 100%;
  padding: 6% 4%;
}
.third__img-container {
  width: 300px;
  margin: 20px auto 40px auto;
}
.third__img {
  max-width: 100%;
}
.third__textArea {
  padding: 20px 0;
}
.third__footer-container {
  width: 100%;
  background-color: #002e5b;
  padding: 12px 0px;
  margin: 20px 0px 0px 0px;
}
.third__footer-content {
  width: 100%;
  text-align: center;
}
.third__footer-text {
  display: none;
}
/* THIRD CONTENT END  */

/* FOURTH CONTENT */
.popular-services {
  margin: 10% 0;
  width: 100%;
}
.popular-services__content {
  width: 100%;
  padding: 2% 4%;
}
.popular-services__top {
  width: 100%;
  text-align: center;
}
.popular-services__bottom {
  width: 100%;
}
.popular-services__bottom-content {
  width: 100%;
  margin: 10% 0;
}
.popular-services__image-content {
  width: 300px;
  margin: 0 auto;
}

.fourth-img {
  max-width: 100%;
}
.map-img{
  max-width: 100%;
}
.popular-services__text-content {
  width: 100%;
  margin-top: 10px;
}

/* FOURTH CONTENT END  */

/* FIFTH CONTENT  */
.counts{
  width: 100%;
  background-color: #002e5b;

}
.counts__content {
  width: 100%;
  padding: 40px 4%;
}
.counts__list{
  width: 100%;
  /* background-color: chocolate; */
  text-align: center;
  padding: 40px 0;
  color: white;
}
/* FIFTH CONTENT END */

/* FOR SIXTH CONTENT */
.sixth-container {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  margin: 40px 0;
}
.sixth-content {
  width: 100%;
  padding: 0px 4%;
  background-color: teal;
}
.sixth-left {
  margin: 25px 0;
}
.second__line{
  width: 300px;
  margin: 0 auto;
  transition: 0.3s;
}

.second__img {
  width: 300px;
}

  /* FOR SIXTH CONTENT END   */

  
  /* FOR SEVENTH CONTENT  */
  .quote{
    width: 100%;
    background: linear-gradient(#082d52, #05213b);
    padding: 0 4%;
  }
  .quote__content{
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    color: white;
    font-family: "Myriad Pros";
    max-width: 900px;
    line-height: 25px;
  }
  /* FOR SEVENTH CONTENT END  */

  .contactus__bottom{
    width: 300px;
    margin: 10% auto;
  }
  .contactus__text-content{
    width: 100%;
    padding: 20px 20px;
    float: left;
  }
  .contactus__icon{
    width: 30px;
    float: left;
    margin-top: 2px;
  }
  .contactus__text{
    width: 80%;
    float: left;
    font-weight: 500;
  }
  .contactus__image-content{
    width: 300px;
    margin: 0 auto;
    float: left;
  }
  .social-icon-container{
    float: right;
  }
  .social-icon-container{
    width: 100%;
    margin-top: 10px;
  }
  .footer__text{
    width: 100%;
    float: left;
    color: white;
    margin: 10px 0;
  }
  .footer-icon{
    margin: 0 10px;
  }
  .link-container{
    width: 100%;
  }

@media screen and (min-width: 765px) {
  .right {
    margin-top: 5px;
  }
  .desktop{
    display: block;
  }
  .desktop__nav-list {
    float: left;
    line-height: 40px;
    padding: 0 10px;
    font-size: 0.75em;
    display: block;
    /* font-weight: 500; */
  }
  .desk-country-icon {
    float: left;
    padding: 6px 8px 0 0;
    width: 32px;
  }
  .nav {
    width: 100%;
  }
  .country-icon-desktop {
    float: left;
    margin-right: 8px;
    width: 20px;
    margin-top: 10px;
  }
  .drpdown-text {
    padding-left: 5px;
    font-size: 1.3em;
  }
  .carousel__left {
    position: relative;
    float: left;
    padding-top: 150px;
  }
  .carousel__yellow-border {
    width: 260px;
  }
  .carousel__yellow-text {
    font-size: 1.5em;
    width: 207px;
    top: 70px;
    left: -152px;
  }
  .carousel__yellow-text-link {
    position: absolute;
    top: 237px;
    right: 139px;
    width: 180px;
    font-weight: 500;
    font-size: 1em;
  }
  .third__footer-content {
    padding: 0 4%;
  }
  .popular-services {
    margin: 6% 0;
  }
  .popular-services__bottom-content{
    margin: 6% 0;
  }

  .third__btn {
    float: right;
  }
  .popular-services__text-content {
    margin-top: 0px;
  }
  
  .popular-services__top {
    width: 50%;
    margin: 0 auto;
  }
  .popular-services__bottom {
    margin: 0 auto;
    max-width: 768px;
  }
  .counts__list{
    width: 50%;
    float: left;
  }
  .sixth-left{
    margin: 50px 0;
  }
  .social-icon-container{
    width: 180px;
    margin: 5px 0;
    float: right;
  }
  .footer__text{
    width: 25%;
    margin: 5px 0;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 4% 0 4%;
  }
  .desktop__nav-list {
    padding: 0 20px;
  }
  .nav {
    padding: 10px 0;
  }
  .carousel__content {
    padding: 190px 0;
  }
  .second__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
  }
  .second__left {
    width: 50%;
    float: left;
    
  }
  .second__right {
    height: 413px;
    float: right;
    display: block;
    width: 42%;
    margin: 0;
    /* background-color: red; */
  }
  .second__img {
    width: 400px;
    /* height: 260px; */
    top: 72px;
    right: -99px;
    position: absolute;
    transition: width 0.3s;
  }
  .third__container {
    margin: 0;
  }
  .third__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5% 4%;
  }
  .third__img-container {
    float: left;
    width: 400px;
    margin: 43px 0;
  }
  .third__textArea {
    width: 55%;
    float: right;
  }
  .third__footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5% 0 4%;
  }
  .popular-services__content {
    padding: 0;
  }
  .popular-services {
    margin: 6% 0;
  }
  .popular-services__bottom {
    max-width: 1025px;
    margin: 2% auto;
    /* padding: 0 5% 0 4%; */
  }
  .popular-services__bottom-content {
    float: left;
    width: 300px;
    margin: 0 2%;
  }

  .popular-services__image-content {
    margin: 0;
  }
  .popular-services__text-content {
    float: left;
    margin-top: 10px;

  }
  .counts__list{
    width: 25%;
    padding: 75px 0;
  }
  .counts__content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
  }

  .sixth-left {
    height: 425px;
    float: left;
    display: block;
    width: 42%;
    margin: 0;
    /* background-color: red; */
  }
  .quote__content{
    padding: 100px 0;
  }

  .contactus__bottom {
    float: left;
    width: 300px;
    margin: 0 2%;
  }
}
